
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@400..700&family=Niconne&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



* {
  padding: 0px;
  margin: 0px;
}
.no-icon-dropdown .dropdown-toggle::after {
  display: none !important;
}
.appbtn {
  position: absolute;
  left: 100px;
  top: -28px;
  background-color: #f6526d;
  width: 71%;
  height: 64px;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  border: #f6526d;
}

.nav-link:hover {
  color: red !important;
}

.appbtn:hover {
  background-color: #d33751;
}

.dropdown-menu {
  background-color: black;
  color: white;
  border-top: 4px solid red;
}

.navbar-toggler {
  position: relative;
  z-index: 1050;
}

.navtop {
  position: relative;
  z-index: 1000;
}
.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #f6526d;
}
.custom-dropdown-menu .dropdown-menu {
  border-top: 3px solid red;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.custom-dropdown-menu .dropdown-item {
  position: relative;
}

.caretup {
  position: absolute;
  top: -16px;
  color: red;
  font-size: 24px;
}

#gallery-dropdown .dropdown-toggle::after {
  display: none !important;
}

.a.dropdown-item {
  padding: 5px;
}
.navtop {
  position: absolute;
  top: 26px;
}
.Navstyle {
  font-size: 20px;
}
.nav-link {
  color: black;
}
.dropdown-toggle::after {
  display: none;
}
.nav-top {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.basket {
  position: absolute;
  top: -2px;
}
.basket-icon {
  color: black;
  width: 30px;
  font-size: 2rem;
}
span.count {
  color: white;
  background-color: black;
  font-size: 13px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 28px;
  top: -13px;
}

.Navstyle .dropdown-menu {
  display: none; /* Hide dropdown by default */
}
.dropdown-style {
  font-size: 20px;
  color: white !important;
  padding-top: 10px;
  transition: width 2s;
}
.popup-items {
  background-color: #f6526d;
  font-size: 23px;
}

.offcanvas-header .btn-close {
  padding: 30px;
  font-size: 25px;
}
.offcanvas-title {
  font-size: 30px;
}
.offcanvas-header .basketbtn {
  color: #0e1b2c;
}
#offcanvasNavbar {
  width: 40%;
}
.bg-img1 {
  background-image: url(../images/ddd.jpg);
  height: 800px;
  background-size: cover;
  position: relative;
}
.bg-img2 {
  background-image: url(../images/slide-2-5.jpg);
  height: 800px;
  background-size: cover;
  background-position: center;
}
.bg-img3 {
  background-image: url(../images/slide-1-1.jpg);
  height: 800px;
  background-size: cover;
  background-position: center;
}
.CarousaltextBox {
  position: absolute;
  top: 220px;
  left: 195px;
}
.text1 {
  color: #f6526d;
  font-family: "Niconne";
  font-weight: 400;
  font-style: normal;
  height: auto;
  width: auto;
  text-decoration: none;
  white-space: nowrap;
  font-size: 43px;
}

.text2 {
  font-size: 65px;
  font-weight: 500;
  width: 51%;
  line-height: 66px;
}
.text3 {
  line-height: 50px;
  font-size: 20px;
  color: rgb(62, 62, 62);
}
.booking-btn {
  width: 25%;
  height: 59px;
  border-radius: 50px;
  color: white;
  background-color: #f6526d;
  border: #f6526d;
  font-weight: 600;
  font-size: 18px;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* Dropdown opens on hover in large screens */
@media (min-width: 992px) {
  .navbar-toggler {
    display: block;
  }
  .Navstyle .nav-dropdown:hover .dropdown-menu {
    display: block; /* Show dropdown on hover */
  }
}
@media (max-width: 900px) {
  .Navstyle {
    display: none;
  }
  .appbtn {
    display: none;
  }
  .navbar-toggler span {
    position: relative;
    background-color: #0e1b2c;
    border-radius: 3px;
    display: block;
    height: 3px;
    margin-top: 5px;
    padding: 0;
    transition-duration: 300ms;
    width: 30px;
    cursor: pointer;
    display: block;
  }
  .navbar-toggler {
    display: block;
    position: absolute;
    right: 30px;
    background-color: transparent;
    border: 0px white;
  }
  .basket {
    position: absolute;
    top: -60px;
    left: 50px;
  }

  span.count {
    color: white;
    background-color: black;
    font-size: 13px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 77px;
    top: -62px;
  }
  .nav-top {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 500px) {
  .navtop {
    position: absolute;
    top: 0px;
  }
  .genrl-logo img {
    width: 40%;
  }
  .basket {
    position: absolute;
    top: -26px;
    left: 235px;
  }
  #offcanvasNavbar {
    width: 70%;
  }

  span.count {
    color: white;
    background-color: black;
    font-size: 13px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 263px;
    top: -33px;
  }
  .basket-icon {
    color: black;
    width: 30px;
    font-size: 1.5rem;
  }
  .offcanvas.offcanvas-end {
    width: 100%;
  }
  .navbar-toggler span {
    width: 19px;
  }
  .nav-top {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .offcanvas-header .btn-close {
    padding: 30px;
    font-size: 25px;
  }
  .bg-img1,
  .bg-img2,
  .bg-img3 {
    height: 455px;
  }
  .CarousaltextBox {
    top: 140px;
    left: 35px;
  }
  .text1{
    font-size: 25px;
  }
  .text2{
        font-size: 33px;
    width: 60%;
    line-height: 35px;
  }
  .text3{
    line-height: 27px;
    font-size: 14px;
  }
  .booking-btn{
    height: 40px;
    font-size: 12px;
  }
}
@media (min-width: 1024px) and (max-width: 1024px) {
  .genrl-logo img {
    width: 100%;
    padding-top: 20px;
  }
  .genrl-main-menu {
    padding-left: 25px;
  }
  .Navstyle {
    margin-bottom: 10px;
  }
  .basket {
    left: 25px;
  }
  span.count {
    left: 50px;
  }
  .appbtn {
    width: 80%;
  }
  .offcanvas-end {
    width: 60%;
  }
  .nav-top {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .CarousaltextBox {
    position: absolute;
    top: 200px;
    left: 70px;
  }
  .text1 {
    font-size: 30px;
  }
  .text2 {
    font-size: 55px;
    width: 51%;
    line-height: 55px;
  }
  .text3 {
    line-height: 43px;
    font-size: 18px;
    color: rgb(62, 62, 62);
  }
}
@media (max-width: 330px) {
  span.count {
    color: white;
    background-color: black;
    font-size: 13px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 241px;
    top: -33px;
  }
  .basket-icon {
    width: 28px;
  }
  .basket {
    position: absolute;
    top: -26px;
    left: 215px;
  }
  .basket-icon {
    color: black;
    width: 30px;
    font-size: 1.5rem;
  }
  .navbar-toggler {
    right: 4px;
  }
  .CarousaltextBox{
    left: 15px;
    top: 100px;
  }
   .bg-img1,
  .bg-img2,
  .bg-img3 {
    height: 360px;
  }
  .text2{
    font-size: 24px;
    line-height: 27px;
  }
      .text3 {
        line-height: 10px;
        font-size: 12px;
    }
    .booking-btn{
      width: 30%;
      height: 37px;
      font-size: 11px;

    }
}
@media (min-width: 500px) and (max-width: 800px) {
  .bg-img1,
  .bg-img2,
  .bg-img3 {
    height: 560px;
  }
  .CarousaltextBox {
    top: 201px;
    left: 70px;
  }
  .text1 {
    font-size: 25px;
  }
  .text2 {
    font-size: 40px;
    line-height: 45px;
  }
  .text3 {
    font-size: 15px;
  }
  .booking-btn {
    height: 50px;
  }
}
